---
import Auth from './Auth';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div class="mx-auto p-4 max-w-4xl h-screen flex flex-col">
      <Auth client:only/>
    </div>
  </body>
</html>
