---
import Link from "@components/ui/link.astro";
import { Icon } from '@astrojs/starlight/components';
---

<div class="p-2">
  <br/>
  <p>
    Inicia tu camino hacia una carrera lucrativa aprendiendo a programar desde cero. No necesitas experiencia previa, solo la ambición de mejorar tu futuro. ¡Inscríbete y comienza hoy!
  </p>
  <br/>
  <Link
    href="https://tally.so/r/3lA8G5"
    class="bg-paradiso flex justify-center rounded-full"
    rel="noopener">
    <p class="text-white flex">Quiero mejorar mi futuro<Icon class="text-white w-5 h-5" name="right-arrow" /></p>
  </Link>
  <br/>
</div>