---
import Link from "@components/ui/link.astro";
import { Icon } from '@astrojs/starlight/components';
---

<div class="p-2">
  <br/>
  <p>
    Especialízate en el stack que más te apasiona y destaca en el mercado laboral. La personalización de tus habilidades puede ser la clave para obtener el empleo y salario que deseas. ¡Inscríbete ya!
  </p>
  <br/>
  <Link
    href="https://tally.so/r/3lA8G5"
    class="bg-paradiso flex justify-center rounded-full"
    rel="noopener">
    <p class="text-white flex">Quiero destacar en el mercado laboral<Icon class="text-white w-5 h-5" name="right-arrow" /></p>
  </Link>
  <br/>
</div>