---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Amazon Gift Card",
    icon: "bx:bxs-briefcase",
    description: ""
  },
  {
    title: "Fitify",
    icon: "bx:bxs-window-alt",
    description: ""
  },
  {
    title: "2x1 Starbucks",
    icon: "bx:bxs-data",
    description: ""
  },
  {
    title: "Yana",
    icon: "bx:bxs-bot",
    description: ""
  },
  {
    title: "Entradas a museos",
    icon: "bx:bxs-file-find",
    description: ""
  },
  {
    title: "Boletos de cine familiar",
    icon: "bx:bxs-user",
    description: ""
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Revienta tu burbuja
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Bubble te ayuda a encontrar tiempo para compartir con tus seres queridos y contigo mismo.
    Recibe recompensas por reducir tu tiempo en pantalla.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
