---
import { CardGrid, Card } from '@astrojs/starlight/components';
import Link from "@components/ui/link.astro";
---
<div class="p-10">
  <h2 class="pt-20 text-black text-4xl md:text-6xl tracking-tight">
    Testimonios de estudiantes
  </h2>
  <CardGrid stagger>
    <Card title="Diana - No programadora" class:list={"border-black"}>
      Primeramente me gustó mucho, y agradezco al profesor por la paciencia para enseñar y forma de explicar cada paso y cada detalle a medida que avanzábamos en la clase. Y cómo va uno aprendiendo las palabras claves en inglés para poder programar.
      No hay límite de edad para aprender.
    </Card>
  </CardGrid>
  <Link href="/talento">Contratar talento</Link>
</div>