---
import Link from "@components/ui/link.astro";
import { Icon } from '@astrojs/starlight/components';
---

<div class="p-4">
  <br/>
  <p>
    Aprende a programar y abre las puertas a un mundo de nuevas oportunidades laborales. Empieza desde lo básico y construye una carrera con alta demanda. ¡Regístrate ahora!
  </p>
  <br/>
  <Link
    href="https://tally.so/r/3lA8G5"
    class="bg-paradiso flex justify-center rounded-full"
    rel="noopener">
    <p class="text-white flex">Quiero mejorar mi futuro<Icon class="text-white w-5 h-5" name="right-arrow" /></p>
  </Link>
  <br/>
</div>