#chatapp {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999;
}

.chat-button {
  position: relative;
}

.chat-icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.chat-label {
  margin: 0;
  position: absolute;
  width: fit-content;
  white-space: nowrap;
  text-align: center;
  top: 50%;
  right: 80px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}